
.cover-image{
    filter: brightness(50%);
}

.carousel-image-height{
    height: 100vh;
}
.explore-bg{
    background-color: #F4FAFD;
}

.explore-image{
    width: 50%;
}
@media only screen and (max-width:767px) {
    .explore-image{
        width: 90%;
    }
}